body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.hero-image{
  width: 50%;
}
.menu-item{
  display: flex;
  flex-direction: row;
}
div.menu-item > div {
  display:flex;
}
.item-price{
  padding: 0 20px 0 20px;
}
.add-button{
  padding: 0 20px 0 0; 

}
div.each-order{
  /*border-color: black;*/
  /*border: 2px;*/
}
